@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <main role="main">
        <div class="bg">

        </div>
        <section class="jumbodm text-center">

            <div class="container">
                <div>
                    <div class="row" style="margin-bottom:20px;">
                        <h2 class="text-muted"><strong>Welcome</strong></h2>
                    </div>
                </div>

                <h1 class="text-light" style="margin-bottom:40px;"><strong>Better Health for African Mother and Child (BHAMC)</strong></h1>
                <h2 class="text-success jumbodm" style="margin-bottom:40px;"><strong>Mother Infant follow-up Database</strong></h2>

                @*<p>
                <a class="btn my-2 btn btn-primary" asp-controller="HTS" asp-action="Create">HTS DATABASE</a>


            </p>*@
            </div>
            <div>
                <p class="text-left text-light jumbodm">
                    <cite>In loving memory of Prof. Babill Stray-Pedersen</cite>
                </p>
            </div>
        </section>
        
        @*<div id="ts-example">
            <br />
            <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
                Click Me
            </button>
        </div>
        <div>
            <p id="ts-example-2">jQuery version is:</p>
        </div>*@
    </main>
</div>
